/* line 8, ../src/wakivote.sass */
body {
  font: 13px/1.231 sans-serif;
}

/* line 12, ../src/wakivote.sass */
#header .wrapper {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 3em;
}

/* line 38, ../src/wakivote.sass */
#sidebar .sidebar-block {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 1em;
  border: 1px solid #aaaaaa;
}
/* line 43, ../src/wakivote.sass */
#sidebar .sidebar-block header {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 105%;
  margin-top: -1px;
  padding: 5px;
  background-color: #aaaaaa;
}
/* line 47, ../src/wakivote.sass */
#sidebar .sidebar-block nav {
  padding: 0.5em;
}

/* line 50, ../src/wakivote.sass */
#main-content {
  margin-top: 2em;
}
/* line 53, ../src/wakivote.sass */
#main-content table {
  margin: 5px 0;
  border-collapse: collapse;
  background: #e8e8e8;
  width: 100%;
}
/* line 59, ../src/wakivote.sass */
#main-content table tr:nth-child(2n) {
  background: #cccccc;
}
/* line 61, ../src/wakivote.sass */
#main-content table td, #main-content table th {
  padding: 3px 6px;
  border: 1px solid #666666;
}
/* line 64, ../src/wakivote.sass */
#main-content table th {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cccccc), color-stop(100%, #999999));
  background-image: -moz-linear-gradient(top, #cccccc 0%, #999999 100%);
  background-image: linear-gradient(top, #cccccc 0%, #999999 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)";
}
/* line 68, ../src/wakivote.sass */
#main-content table th.questions {
  width: 40%;
}
/* line 70, ../src/wakivote.sass */
#main-content table thead {
  border: 1px solid #666666;
}
/* line 74, ../src/wakivote.sass */
#main-content form div.input {
  clear: both;
}
/* line 77, ../src/wakivote.sass */
#main-content form div.input label {
  padding: 4px 8px;
  display: block;
  float: left;
  width: 200px;
}
/* line 82, ../src/wakivote.sass */
#main-content form div.input input {
  padding: 3px 6px;
  width: 150px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #666666;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #999999), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #999999 0%, #cccccc 100%);
  background-image: linear-gradient(top, #999999 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)";
}
/* line 90, ../src/wakivote.sass */
#main-content form div.input textarea {
  padding: 3px 6px;
  width: 150px;
  height: 100px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #666666;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #999999), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #999999 0%, #cccccc 100%);
  background-image: linear-gradient(top, #999999 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)";
}

/* line 100, ../src/wakivote.sass */
#footer {
  margin-top: 20px;
}

/* line 102, ../src/wakivote.sass */
.button {
  text-align: center;
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 106, ../src/wakivote.sass */
.button a {
  font-weight: bold;
  text-decoration: none;
  color: #333333;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 4px 8px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cccccc), color-stop(100%, #999999));
  background-image: -moz-linear-gradient(top, #cccccc 0%, #999999 100%);
  background-image: linear-gradient(top, #cccccc 0%, #999999 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)";
}
/* line 117, ../src/wakivote.sass */
.button a:hover {
  color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #999999), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #999999 0%, #cccccc 100%);
  background-image: linear-gradient(top, #999999 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)";
}

/* line 123, ../src/wakivote.sass */
button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cccccc), color-stop(100%, #999999));
  background-image: -moz-linear-gradient(top, #cccccc 0%, #999999 100%);
  background-image: linear-gradient(top, #cccccc 0%, #999999 100%);
  color: #333333;
  border: 1px solid #666666;
  padding: 4px 6px;
  float: right;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)";
}
/* line 137, ../src/wakivote.sass */
button:hover {
  color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #999999), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #999999 0%, #cccccc 100%);
  background-image: linear-gradient(top, #999999 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)";
}

/* line 143, ../src/wakivote.sass */
.content-box, .vote-box, .result-box {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #333333;
  background: #dddddd;
  overflow: hidden;
}
/* line 149, ../src/wakivote.sass */
.content-box header, .vote-box header, .result-box header, .content-box h2, .vote-box h2, .result-box h2 {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 105%;
  margin-top: -1px;
  padding: 5px;
  background: #333333;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #333333), color-stop(100%, #1a1a1a));
  background-image: -moz-linear-gradient(top, #333333 0%, #1a1a1a 100%);
  background-image: linear-gradient(top, #333333 0%, #1a1a1a 100%);
  margin-bottom: 1em;
}
/* line 156, ../src/wakivote.sass */
.content-box button, .vote-box button, .result-box button {
  margin: 0.5em;
}

/* line 162, ../src/wakivote.sass */
.vote-box ul, .result-box ul {
  margin: 1em;
}
/* line 165, ../src/wakivote.sass */
.vote-box li, .result-box li {
  margin-bottom: 0.5em;
}

/* line 178, ../src/wakivote.sass */
.result-box ul {
  display: inline;
  overflow: hidden;
}
/* line 181, ../src/wakivote.sass */
.result-box ul li {
  margin: 0 0.5em;
  display: block;
  float: left;
  width: 70px;
  height: 400px;
  position: relative;
}
/* line 189, ../src/wakivote.sass */
.result-box ul li span {
  display: inline-block;
  padding: 0.3em;
  border: 1px solid #67ab9f;
  background: #67ab9f;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b9d8d3), color-stop(100%, #67ab9f));
  background-image: -moz-linear-gradient(top, #b9d8d3 0%, #67ab9f 100%);
  background-image: linear-gradient(top, #b9d8d3 0%, #67ab9f 100%);
  position: absolute;
  bottom: 10px;
}
/* line 199, ../src/wakivote.sass */
.result-box ul li .bar {
  -moz-box-shadow: #aaaaaa 0 0 10px 0;
  -webkit-box-shadow: #aaaaaa 0 0 10px 0;
  -o-box-shadow: #aaaaaa 0 0 10px 0;
  box-shadow: #aaaaaa 0 0 10px 0;
  min-height: 1px;
  width: 50px;
  margin-top: 20px;
  margin-left: 8px;
  position: absolute;
  bottom: 75px;
  padding-top: 10%;
  text-align: center;
}
/* line 170, ../src/wakivote.sass */
.result-box ul li .bar {
  border: 2px solid #79afcc;
  background: #79afcc;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f3f8fa), color-stop(100%, #79afcc));
  background-image: -moz-linear-gradient(top, #f3f8fa 0%, #79afcc 100%);
  background-image: linear-gradient(top, #f3f8fa 0%, #79afcc 100%);
}
/* line 170, ../src/wakivote.sass */
.result-box ul li:nth-child(2n) .bar {
  border: 2px solid #7e8dbd;
  background: #7e8dbd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #edeff6), color-stop(100%, #7e8dbd));
  background-image: -moz-linear-gradient(top, #edeff6 0%, #7e8dbd 100%);
  background-image: linear-gradient(top, #edeff6 0%, #7e8dbd 100%);
}
/* line 170, ../src/wakivote.sass */
.result-box ul li:nth-child(3n) .bar {
  border: 2px solid #ffe768;
  background: #ffe768;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffe768));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffe768 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffe768 100%);
}
/* line 170, ../src/wakivote.sass */
.result-box ul li:nth-child(4n) .bar {
  border: 2px solid #ffab59;
  background: #ffab59;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffab59));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffab59 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffab59 100%);
}

/* line 224, ../src/wakivote.sass */
.message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #aaaaaa 2px 2px 3px 0;
  -webkit-box-shadow: #aaaaaa 2px 2px 3px 0;
  -o-box-shadow: #aaaaaa 2px 2px 3px 0;
  box-shadow: #aaaaaa 2px 2px 3px 0;
  clear: both;
  border: 1px solid #aaaaaa;
  padding: 0.2em;
  margin: 0.5em 0;
  width: auto;
  text-align: center;
}
/* line 235, ../src/wakivote.sass */
.message.info {
  background-color: #67ab9f;
}
/* line 238, ../src/wakivote.sass */
.message.result {
  border-color: #d67eaa;
  font-size: 110%;
  background: #d67eaa;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f5dfea), color-stop(100%, #d67eaa));
  background-image: -moz-linear-gradient(top, #f5dfea 0%, #d67eaa 100%);
  background-image: linear-gradient(top, #f5dfea 0%, #d67eaa 100%);
}
