/* line 7, ../src/wakivote.sass */
body {
  font: 13px/1.231 sans-serif;
}

/* line 11, ../src/wakivote.sass */
#header .wrapper {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 3em;
}

/* line 28, ../src/wakivote.sass */
#sidebar .sidebar-block {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #aaaaaa;
  margin-bottom: 1em;
}
/* line 32, ../src/wakivote.sass */
#sidebar .sidebar-block header {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #aaaaaa;
  border: none;
  background-color: #aaaaaa;
  color: white;
  text-transform: uppercase;
  font-size: 105%;
  margin-top: -1px;
  padding: 5px;
}
/* line 42, ../src/wakivote.sass */
#sidebar .sidebar-block nav {
  padding: 0.5em;
}

/* line 45, ../src/wakivote.sass */
#main-content {
  margin-top: 2em;
}
/* line 47, ../src/wakivote.sass */
#main-content table {
  margin: 5px 0;
  border-collapse: collapse;
  table-layout: auto;
  background: #e8e8e8;
  width: 100%;
}
/* line 54, ../src/wakivote.sass */
#main-content table tr:nth-child(2n) {
  background: #cccccc;
}
/* line 56, ../src/wakivote.sass */
#main-content table td, #main-content table th {
  padding: 3px 6px;
  border: 1px solid #666666;
}
/* line 59, ../src/wakivote.sass */
#main-content table th {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cccccc), color-stop(100%, #999999));
  background-image: -moz-linear-gradient(top, #cccccc 0%, #999999 100%);
  background-image: linear-gradient(top, #cccccc 0%, #999999 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)";
}
/* line 63, ../src/wakivote.sass */
#main-content table th.questions {
  width: 40%;
}
/* line 65, ../src/wakivote.sass */
#main-content table thead {
  border: 1px solid #666666;
}

/* line 68, ../src/wakivote.sass */
.button {
  float: right;
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 72, ../src/wakivote.sass */
.button a {
  text-decoration: none;
  color: #333333;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 4px 8px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cccccc), color-stop(100%, #999999));
  background-image: -moz-linear-gradient(top, #cccccc 0%, #999999 100%);
  background-image: linear-gradient(top, #cccccc 0%, #999999 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)";
}
/* line 82, ../src/wakivote.sass */
.button a:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #999999), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #999999 0%, #cccccc 100%);
  background-image: linear-gradient(top, #999999 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)";
}
