@import constants
@import compass/css3/border-radius
@import compass/css3/gradient
@import compass/css3/box-shadow

// font normalization inspired by  from the YUI Library's fonts.css: developer.yahoo.com/yui/

body
  font: 13px/1.231 sans-serif

#header
  .wrapper
    +border-radius(3px)

    border: 1px solid $BORDER_COLOR
    margin:
      top: 1em
      bottom: 2em
    padding: 3em

=topline-border
  +border-radius(8px)
  +border-corner-radius(bottom, left, 0)
  +border-corner-radius(bottom, right, 0)

=stdheader
  +topline-border
  border: none
  color: #fff
  text-transform: uppercase
  font-size: 105%
  margin-top: -1px
  padding: 5px


#sidebar
  .sidebar-block
    +topline-border
    margin-bottom: 1em
    border: 1px solid $BORDER_COLOR

    header
      +stdheader
      background-color: $BORDER_COLOR

    nav
      padding: 0.5em

#main-content
  margin-top: 2em

  table
    margin: 5px 0
    border-collapse: collapse
    background: #e8e8e8
    width: 100%
    tr
      &:nth-child(2n)
        background: #ccc
    td, th
      padding: 3px 6px
      border: 1px solid #666
    th
      +linear-gradient(color-stops(#ccc, #999), top)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)"
      &.questions
        width: 40%
    thead
      border: 1px solid #666

  form
    div.input
      clear: both

      label
        padding: 4px 8px
        display: block
        float: left
        width: 200px
      input
        padding: 3px 6px
        width: 150px
        +border-radius(3px)
        border: 1px solid #666
        +linear-gradient(color-stops(#999, #ccc), top)
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)"
      textarea
        padding: 3px 6px
        width: 150px
        height: 100px
        +border-radius(3px)
        border: 1px solid #666
        +linear-gradient(color-stops(#999, #ccc), top)
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)"

#footer
  margin-top: 20px
.button
  text-align: center
  display: inline-block
  +border-radius(5px)
  a
    font-weight: bold
    text-decoration: none
    color: #333
    display: block
    +border-radius(5px)
    border: 1px solid #666
    padding: 4px 8px
    +linear-gradient(color-stops(#ccc, #999), top)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)"
    &:hover
      color: white
      +linear-gradient(color-stops(#999, #ccc), top)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)"

button
  +border-radius(5px)
  +linear-gradient(color-stops(#ccc, #999), top)
  color: #333
  border: 1px solid #666
  padding: 4px 6px
  // Normale Buttons haben keinen Pointer
  // cursor: pointer
  float: right
  font-weight: bold

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)"

  &:hover
    color: white
    +linear-gradient(color-stops(#999, #ccc), top)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)"

.content-box
  +topline-border
  border: 1px solid $BORDER_COLOR_DARK
  background: $BG_COLOR_LIGHT
  overflow: hidden

  header,h2
    +stdheader
    // Fallback color
    background: $BORDER_COLOR_DARK
    +linear-gradient(color-stops($BORDER_COLOR_DARK, darken($BORDER_COLOR_DARK, 10%)), top)
    margin-bottom: 1em

  button
    margin: 0.5em

.vote-box
  @extend .content-box

  ul
    margin: 1em

  li
    margin-bottom: 0.5em

.add-vote
  form
    .add-delete
      margin-top: 20px

    .add-answer
      margin-left: 345px

    .delete-answer
      margin-left: 5px

=bar-color($color)
  .bar
    border: 2px solid $color
    background: $color
    +linear-gradient(color-stops(lighten($color, 33%), $color))

.result-box
  @extend .vote-box

  ul
    display: inline
    overflow: hidden

    li
      margin: 0 0.5em
      display: block
      float: left
      width: 70px
      height: 300px
      margin-top: 100px
      position: relative

      span
        display: inline-block
        padding: 0.3em
        border: 1px solid $MESSAGE_COLOR_INFO
        background: $MESSAGE_COLOR_INFO
        +linear-gradient(color-stops(lighten($MESSAGE_COLOR_INFO, 25%), $MESSAGE_COLOR_INFO), top)

        position: absolute
        bottom: 10px

      .bar
        +box-shadow($BORDER_COLOR, 0, 0, 10px)
        min-height: 1px
        width: 50px
        margin-left: ((70px - 50px - 4px) / 2)

        position: absolute
        bottom: 75px
        padding-top: 10%
        text-align: center

      // Bar colors based on http://www.colourlovers.com/palette/1439942/Summer_breeze
      +bar-color(#79AFCC)

      &:nth-child(2n)
        +bar-color(#7E8DBD)

      &:nth-child(3n)
        +bar-color(#FFE768)

      &:nth-child(4n)
        +bar-color(#FFAB59)


.message
  +border-radius(3px)
  +box-shadow($BORDER_COLOR, 2px, 2px, 3px)

  clear: both
  border: 1px solid $BORDER_COLOR
  padding: 0.2em
  margin: 0.5em 0
  width: auto
  text-align: center

  &.info
    background-color: $MESSAGE_COLOR_INFO

  &.result
    border-color: $MESSAGE_COLOR_RESULT
    font-size: 110%
    background: $MESSAGE_COLOR_RESULT
    +linear-gradient(color-stops(lighten($MESSAGE_COLOR_RESULT, 25%), $MESSAGE_COLOR_RESULT), top)
