@import constants
@import compass/css3/border-radius
@import compass/css3/gradient

// font normalization inspired by  from the YUI Library's fonts.css: developer.yahoo.com/yui/

body
  font: 13px/1.231 sans-serif

#header
  .wrapper
    +border-radius(3px)

    border: 1px solid $BORDER_COLOR
    margin:
      top: 1em
      bottom: 2em
    padding: 3em

=sidebar-border
  +border-radius(8px)
  +border-corner-radius(bottom, left, 0)
  +border-corner-radius(bottom, right, 0)
  border: 1px solid $BORDER_COLOR


#sidebar
  .sidebar-block
    +sidebar-border
    margin-bottom: 1em

    header
      +sidebar-border
      border: none
      background-color: $BORDER_COLOR
      color: #fff
      text-transform: uppercase
      font-size: 105%
      margin-top: -1px
      padding: 5px

    nav
      padding: 0.5em

#main-content
  margin-top: 2em
  table
    margin: 5px 0
    border-collapse: collapse
    table-layout: auto
    background: #e8e8e8
    width: 100%
    tr
      &.altrow
        background: #ccc
    td, th
      padding: 3px 6px
      border: 1px solid #666
    th
      +linear-gradient(color-stops(#ccc, #999), top)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)"
      &.questions
        width: 40%
    thead
      border: 1px solid #666

.button
  float: right
  display: inline-block
  +border-radius(5px)
  a
    text-decoration: none
    color: #333
    display: block
    +border-radius(5px)
    border: 1px solid #666
    padding: 4px 8px
    +linear-gradient(color-stops(#ccc, #999), top)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFcccccc, endColorstr=#FF999999)"
    &:hover
      +linear-gradient(color-stops(#999, #ccc), top)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFcccccc)"
